.currency-dropDown{
    display:flex;
    align-items: center;
    flex-direction: column;
    
    height: 169px;
  width: 114px;

  top: 65px;
  border-radius: 0px;
  position: absolute;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  height: auto;
  z-index: 2;
  margin-left: -50px;
  }
  
  
  
  .JPY{
  height: 29px;
  
  left: 1268px;
  top: 185px;
  border-radius: nullpx;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  
  letter-spacing: 0em;
  text-align: right;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  }
  
  .JPY:hover{
    background-color: greenyellow;
   
   
  }