.Header{
    height: 80px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #FFFFFF;
    display: flex;
  justify-content: space-between;
  }
  .navbar{
  height: 56px;
  width: auto;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  display: flex;
  
  justify-content: space-around;
  margin-left: 110px;
  margin-top: 24px;
  }
  .all{
    height: 56px;
    width: 97px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color:#5ECE7B;
  cursor: pointer;
  }
  .clothes{
    margin-left: 32px;
    height: 20px;
    width: 97px;
    left: 0px;
    top: 0px;
    color: #5ECE7B;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    cursor: pointer;
    text-align: center;
  }
  
  .tech{
    margin-left: 32px;
    height: 20px;
    width: 97px;
    left: 0px;
    top: 0px;
    top: calc(50% - 20px/2 - 16px);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    color: #5ECE7B;
  }
  .logo{
  
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .logo1{
    height: 28.619224548339844px;
    width: 31.181222915649414px;
    left: 0px;
    top: 1.3076171875px;
    border-radius: 0px;
    margin-left: -8px;
  }
  
  
  .left-header{
  height: 40px;
  width: 204px;
  left: 1135px;
  top: 23px;
  border-radius: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 23px;
  }
  .currency{
    height: 29px;
  width: 32px;
  left: 124px;
  top: 5.5px;
  border-radius: 0px;
  padding: 0px, 10px, 0px, 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .currency-child{
    height: 29px;
    left: 10px;
    top: 0px;
    margin-right: 10px;
    cursor: pointer;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    
     
  }
  .currency-drop-down-icon{
    height: 3px;
  width: 6px;
  left: 156px;
  top: 21.5px;
  cursor: pointer;
  }
  .currency-drop-down-icon > img {
    margin-bottom: 3px;
  }
  .cart{
  height: 20px;
  width: 20px;
  left: 184px;
  top: 10px;
  border-radius: 0px;
  margin-left: 22px;
  cursor: pointer;
  }
  .cart-item-number{
  height: 20px;
  width: 20px;
  top: 17px;
  border-radius: 60px;
  background: #1D1F22;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: -10px;
  }
  .cart-item-number > p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-item-number-child{
    height: 14.285714149475098px;
  width: 14.285714149475098px;
  left: 1235px;
  top: 27.857177734375px;
  border-radius: nullpx;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  
  }
  .ds{
    color: #5ECE7B;
      border-bottom: 2px solid #5ECE7B;
      height:56px;
     
      font-weight: 600;
  }
  .dsd{
    color: black;
      border:none;
      font-weight: 400;
  }
  .colorButtons{
    height: 14px;
    width: 18px
  }
  .other3{
    width: 150px;
    margin-bottom: 5px;
  }
  .headerActive{
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
    height:30px;
   
    font-weight: 600;
  }
 