.container{
    display: flex;
    width: 1280px;
    padding: 30px;
}


select{
    width: 200px;
    color: #ce7b5e;
    border: 2px solid #5ECE7B;
    border-radius: 4px;
    height: 30px
}

.checbox-container{
    display: flex;
    align-items: center;
}

label{
    padding-left: 4px;
}

.colorButtons {
    width: 24px;
    height: 24px;
    border: 1px solid rgb(0, 153, 204);
    cursor:'pointer';
    border-radius:'4px';
    border-radius: 4px;
}

.colorActive{
   border: 2px solid indigo
}
.colorNotActive{
    border:1.5px solid currentColor;
}