@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}
body{
  height: 1513px;
width: 1440px;
left: 0px;
top: 0px;
border-radius: 0px;

}
.tst{
  color:white;
  background: #1D1F22;
}

/*header*/
/*pop-up*/
a{
  text-decoration: none;
  color: inherit;
}
#pop-up{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background: rgba(57, 55, 72, 0.22);
  
  margin-top:80px;
  z-index: 0;
  transition: opacity .5s ease;
}
/*pop-up*/
/*header*/
.Header{
  height: 80px;
  
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #FFFFFF;
  display: flex;

}
.navbar{
height: 56px;
width: auto;
left: 0px;
top: 0px;
border-radius: 0px;
display: flex;

justify-content: space-around;
margin-left: 110px;
margin-top: 24px;
}
.all{
  height: 56px;
  width: 97px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  border-width: calc(width+10px);

font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 19px;
letter-spacing: 0px;
text-align: center;
color: #5ECE7B;
border-bottom: 2px solid #5ECE7B;
cursor: pointer;
}
.clothes{
  margin-left: 32px;
  height: 20px;
  width: 97px;
  left: 0px;
  top: 0px;

  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  cursor: pointer;
}

.tech{
  margin-left: 32px;
  height: 20px;
  width: 97px;
  left: 0px;
  top: 0px;
  top: calc(50% - 20px/2 - 16px);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.logo{

width: 41px;
left: 0px;
top: 0px;
border-radius: 0px;

  display: flex;
  align-items: center;
  margin-left: 380px;
  margin-right: 399px;
 
}
.logo1{
  height: 28.619224548339844px;
  width: 31.181222915649414px;
  left: 0px;
  top: 1.3076171875px;
  border-radius: 0px;
  margin-left: -8px;
}


.left-header{
  height: 40px;
width: 204px;
left: 1135px;
top: 23px;
border-radius: 0px;
display: flex;
justify-content: flex-end;
align-items: baseline;
}
.currency{
  height: 29px;
width: 32px;
left: 124px;
top: 5.5px;
border-radius: 0px;
padding: 0px, 10px, 0px, 10px;

}
.currency-child{
  height: 29px;
  width: 12px;
  left: 10px;
  top: 0px;

 
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  
   
}
.currency-drop-down-icon{
  height: 3px;
width: 6px;
left: 156px;
top: 21.5px;
cursor: pointer;
}
.cart{
height: 20px;
width: 20px;
left: 184px;
top: 10px;
border-radius: 0px;
margin-left: 22px;
cursor: pointer;
}
.cart-item-number{
  height: 20px;
width: 20px;
left: 1432px;
top: 24px;
border-radius: 60px;
background: #1D1F22;
position: absolute;
justify-content: center;
display: flex;
align-items: center;
}
.cart-item-number > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item-number-child{
  height: 14.285714149475098px;
width: 14.285714149475098px;
left: 1235px;
top: 27.857177734375px;
border-radius: nullpx;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}

/*content*/
#outOfStock{

height: 39px;

left: 90px;
top: 146px;
border-radius: nullpx;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 38px;
letter-spacing: 0px;
margin-top:0px;
margin-bottom: 0px;
color: rgba(141, 143, 154, 1);
display: flex;
align-items: center;
z-index: 1;
margin-bottom: -170px;
}
.items-container-home{
display: flex;
flex-wrap: wrap;
padding-left: 100px;
}

.product-title{
/* Title */
height: 68px;

left: 101px;
top: 160px;

font-family: Raleway;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 67px;
letter-spacing: 0px;
text-align: left;
margin-left: 119px;
margin-top: 80px;


}
.item-card{
 
width: 386px;
left: 0px;
top: 0px;
border-radius: 0px;
padding: 16px 16px 36px 16px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
margin-bottom:0;
margin-top: 103px;
margin-right: 40px;

}
.add-to-cart-home{
  height: 52px;
width: 52px;
left: 0px;
top: 0px;
border-radius: 0px;
display: none;
justify-content: center;
align-items: center;
margin-top: -28px;
margin-left:255px;
cursor: pointer;
}
.add-to-cart-home:hover{
  display: flex;
}
.add-to-cart-home-pic-two{
  height: 24px;
width: 24px;
left: 14px;
top: 14px;
border-radius: 0px;
z-index: 1;
margin-left: -37px;
}

.item-card:hover{
  
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  /* --c-white */
  background: #FFFFFF;
  
  /* --product-card-box-shadow:hover */
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);

}
.item-card  > a > img {
  height: 330px;
  width: 354px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  

}

.item-name{
  height: 29px;
width: 354px;
left: 0px;
top: 0px;
border-radius: nullpx;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 0px;
margin-top: 0;
}
.item-price{
  position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* --price-regular-font */
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;

color: #1D1F22;
height: 29px;
width: 58px;
left: 0px;
top: 0px;


order: 0;
flex-grow: 0;
margin-bottom: 16px;
}
.card-content{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
margin-top: 24px;
position: static;
width: 354px;
height: 58px;
left: 16px;
top: 370px;


/* Inside Auto Layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}

.item-price-container{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
height: 29px;
width: 58px;
left: 0px;
top: 29px;
border-radius: 0px;

}

/*currency dropdown*/

.currency-dropDown{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 169px;
width: 114px;
left: 1274px;
top: 65px;
border-radius: 0px;
position: absolute;
background: #FFFFFF;
filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.USD{
  height: 29px;

left: 0px;
top: 0px;
border-radius: nullpx;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 500;

letter-spacing: 0em;
text-align: right;
cursor: pointer;
}
.USD:hover{
background-color: greenyellow;
width: 100%;
text-align: center;
}

.EUR{
  height: 29px;

left: 1268px;
top: 135px;
border-radius: nullpx;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 500;

letter-spacing: 0em;
text-align: right;
cursor: pointer;
}
.EUR:hover{
  background-color: greenyellow;
  width: 100%;
  text-align: center;
}

.JPY{
  height: 29px;

left: 1268px;
top: 185px;
border-radius: nullpx;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 500;

letter-spacing: 0em;
text-align: right;
cursor: pointer;
}

.JPY:hover{
  background-color: greenyellow;
  width: 100%;
  text-align: center;
}

/*cart*/

.cart-dropDown{
  height: auto;
width: 345px;
left: 1048px;
top: 78px;
border-radius: 0px;
background: #FFFFFF;
position: absolute;
z-index: 1;
overflow-y: auto;
}

.cart-title{
  height: 26px;
width: auto;
left: 1044px;
top: 86px;
text-align: left;
font-family: Raleway;
font-size: 16px;
font-style: normal;
line-height: 26px;
letter-spacing: 0em;
margin-left: 16px;
margin-top: 6px;
}

.cart-content{
margin-top:23px;
width: 293px;
left: 1044px;
top: 135px;
border-radius: 0px;
margin-left: 16px;
margin-right:16px;
display:flex;
}

.cart-content-item-title{
height: 52px;
width: 136px;
left: 1044px;
top: 137px;
border-radius: nullpx;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: #1D1F22;
display: flex;
align-items: center;
}

.cart-content-item-price{
height: 26px;
width: 52px;
left: 0px;
top: 0px;
border-radius: nullpx;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: right;
color: #1D1F22;
text-align: left;
}

.cart-content-item-size-one{

left: 1044px;
top: 247px;
border-radius: 0px;
font-size: 14px;
border: 1px solid #1D1F22;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
margin-right:8px;
margin-bottom: 5px;
}

.cart-content-item-size-two{
height: 24px;
width: 24px;
left: 1076px;
top: 247px;
border-radius: nullpx;
font-family: Source Sans Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
background: #A6A6A633;
color: #A6A6A6;

display: flex;
align-items: center;
justify-content: center;
;
box-sizing: border-box;
margin-left: 8px
}

.cart-content-item-count-plus{
  height: 24px;
width: 24px;
left: 0px;
top: 0px;
border-radius: 0px;
border: 1px solid #1D1F22;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
margin-left: 18px;
margin-top: 12px;
}
.cart-content-item-count-minus{
height: 24px;
width: 24px;
left: 1198px;
top: 248px;
border-radius: 0px;
border: 1px solid #1D1F22;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
margin-top: 12px;
margin-left: 18px;
}
.cart-content-item-cout-opacity{
  height: 26px;
width: 24px;
left: 1206px;
top: 189px;
border-radius: nullpx;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #1D1F22;
margin-top:20px;
margin-left: 18px;
}

.cart-total{
  height: 28px;
width: 289px;
left: 1044px;
top: 492px;
border-radius: nullpx;
margin-top:229px;
display:flex;
margin-top:51px;

}

.cart-total-total{
height: 19px;
width: 55px;
left: 1044px;
top: 501px;
border-radius: nullpx;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #1D1F22;
margin-left: 16px;

}

.cart-total-price{
height: 26px;
width: 95px;
left: 1238px;
top: 492px;
border-radius: nullpx;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;

color: #1D1F22;

margin-left: 185px;
}

.cart-content-left-side{
  
}

.cart-content-right-side{
height: 147px;
width: 105px;
left: 1232px;
top: 135px;
border-radius: 0px;
margin-left: 10px;
margin-top: 15px;
}
.cart-content-right-side > img {
  height: 137px;
width: 105px;
left: 1232px;
top: 135px;
border-radius: 0px;

}

.cart-buttons{
  display: flex;
justify-content: space-around;
margin-top: 35px;
margin-bottom:20px
}


.cart-buttons-left{
height: 43px;
width: 140px;
left: 0px;
top: 0px;
border-radius: 0px;
padding: 16px, 32px, 16px, 32px;
background: #FFFFFF;
border: 1px solid #1D1F22;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 32px;
cursor: pointer;
}

.cart-buttons-right{
height: 43px;
width: 140px;
left: 0px;
top: 0px;
border-radius: 0px;
padding: 16px, 32px, 16px, 32px;
background: #5ECE7B;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
border:none;
}

.cart-buttons-left-text{
  height: 17px;
width: 68px;
left: 36px;
top: 13px;
border-radius: nullpx;
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: #1D1F22;

}

.cart-buttons-right-text{
  height: 17px;
width: 81px;
left: 29.5px;
top: 13px;
border-radius: nullpx;
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}
/*header*/
/*fullcart*/
.cart-full{
  height: 40px;
width: 84px;
left: 100px;
top: 160px;
border-radius: nullpx;
font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
margin-left:22px;
margin-top:80px;
color: #1D1F22;
}

.cart-content-full{
  height: 225px;
width: 1098px;
left: 100px;
top: 280px;
border-radius: 0px;

border-top: 1px solid #E5E5E5;
;
display: flex;
margin-left: 122px;
margin-top: 59px;
justify-content: space-between;

}

.full-cart-title{
  height: 40px;
width: 84px;
margin-left: 100px;

font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;

color: #1D1F22;
}

.cart-image-vectorLeft{
  height: 12px;
width: 6px;
left: 15px;
top: 6px;
border-radius: 0px;
margin-left: 9px;
cursor: pointer;
}

.cart-image-vectorRight{
height: 12px;
width: 6px;
left: 9px;
top: 6px;
border-radius: 0px;
margin-right:9px;
cursor: pointer;
}

.cart-arrows{
display: flex;
justify-content: space-between;
margin-top: -100px;

}
.cart-content-item-title-full{
  height: 27px;
/*width: 292px;*/
left: 101px;
top: 280px;
border-radius: nullpx;
font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
display: flex;
align-items: center;
margin-bottom:20px;

margin-top:20px;
}
.cart-content-item-title-full-2{
height: 27px;
width: 292px;
left: 101px;
top: 323px;
border-radius: nullpx;
font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
display: flex;
align-items: center;
margin-bottom: 12px;
margin-top:0;
color: #1D1F22;
}

.cart-content-item-price-full{
  height: 46px;
width: 86px;
left: 100px;
top: 362px;
border-radius: nullpx;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
display: flex;
align-items: center;
margin-bottom: 12px;
margin-top:0;
color: #1D1F22;
}

.cart-content-item-size-one-full{
  height: 45px;
width: 63px;
left: 101px;
top: 420px;
border-radius: 0px;
border: 1px solid #1D1F22;
background-color: white;
margin-top:0;
margin-right:12px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.cart-content-item-size-one-full-black{
  background-color: black;
  color:white;
  margin-top:0;
margin-right:12px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
height: 45px;
width: 63px;
left: 101px;
top: 420px;
border-radius: 0px;
}
.cart-content-item-size-two-full{
height: 45px;
width: 63px;
left: 176px;
top: 420px;
border-radius: 0px;
background: #1D1F22;
border: 1px solid #1D1F22;
color: #FFFFFF;
margin-left: 12px;
margin-top:0;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.cart-content-right-sid-image-full{
  height: 185px;
width: 141px;
left: 1057px;
top: 281px;
border-radius: 0px;

}
#cart-count-full{
  margin-top:21px;
}

.cart-content-right-side-full{
height: 185px;
width: 141px;
margin-top:21px;
border-radius: 0px;

}
.cart-content-item-count-plus-full{
  height: 45px;
width: 45px;
left: 0px;
top: 0px;
border-radius: 0px;
border: 1px solid #1D1F22;
box-sizing: border-box;
margin-top:0;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.cart-content-item-count-minus-full{
  height: 45px;
width: 45px;
left: 1000px;
top: 420px;
border-radius: 0px;
border: 1px solid #1D1F22;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.cart-content-item-cout-opacity-full{

width: 0 !important;
}

/*item*/
.item-container{
display: flex;
margin-top: 80px;
margin-left: 121px;
}
.item-left-side{
  display: flex;
  flex-direction: column;
  margin-right: 17px;
  margin-top: 48.59px;
}
.item-left-image-one{
  height: 80px;
  width: 79px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  cursor: pointer;
  margin-bottom: 32px;
}
.item-left-image-two{
  height: 80px;
  width: 79px;
  left: 100px;
  top: 280px;
  border-radius: 0px;
  margin-top: 32.39px;
  cursor: pointer;
}
.item-left-image-three{
  height: 80px;
  width: 79px;
  left: 100px;
  top: 400px;
  border-radius: 0px;
  margin-top: 40px;
  cursor: pointer;
}
.item-right-side{
  height: 559.592041015625px;
  width: 1364.0277099609375px;
  left: -25.41650390625px;
  top: -48.59228515625px;
  border-radius: 0px;
  display: flex;

}

.item-right-side-picture{

  height: 511px;
  width: 610px;
}
.item-right-side-picture > img {
  height: 511px;
  width: 610px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding-top: 48.59px;
  padding-left: 25.42px;

}
.item-rigth-side-content{
  height: 513px;
  width: auto;
  left: 929px;
  top: 160px;
  border-radius: 0px;
  margin-left: 100px;
}
.item-title{
  height: 27px;
  width: auto;
  left: 929px;
  top: 160px;
  border-radius: nullpx;
  font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
display: flex;
align-items: center;
margin-top:40px;
margin-bottom: 0;
color: #1D1F22;
}
.item-title2{
  height: 27px;
  width: 292px;
  left: 929px;
  top: 203px;
  border-radius: nullpx;
  font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
display: flex;
align-items: center;
margin-top: 16px;
margin-bottom: 0;
color: #1D1F22;
}
.size-title{
  height: 18px;
 /* width: 38px;*/
  left: 929px;
  top: 273px;
  border-radius: nullpx;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 43px;
  color: #1D1F22;    
  margin-bottom: 8px;
}
.item-price-title{
  height: 18px;
  width: 50px;
  left: 929px;
  top: 384px;
  border-radius: nullpx;
  font-family: Roboto Condensed;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
display: flex;
align-items: center;
text-align: center;
margin-top: 40px;
margin-bottom: 0;
color: #1D1F22;
}
.item-price{
  height: 46px;
width: auto;
left: 929px;
top: 412px;
border-radius: nullpx;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
display: flex;
align-items: center;

color: #1D1F22;
margin-top: 10px;
margin-bottom: 0;
}
.item-buttton{
  height: 52px;
  width: 100%;
  left: 929px;
  top: 478px;
  border-radius: 0px;
  padding: 16px 32px 16px 32px;
  margin-top: 20px;
  background: #5ECE7B;
  color: #FFFFFF;
  border:none;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
}
.item-description{
  height: 103px;
  width: 292px;
  left: 929px;
  top: 570px;
  border-radius: nullpx;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #1D1F22;
  margin-top: 40px;
}

.item-size-margin{
  margin-left: 12px;
}
.item-size-disabled{
  border:1px solid #A6A6A6;
  color:#A6A6A6
}